<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgqsx2KZ0_fep-r6KvQ7ApA8Qj1pf0gYU</string>
	<key>GCM_SENDER_ID</key>
	<string>1049329557684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ruwadRewatib</string>
	<key>PROJECT_ID</key>
	<string>ruwad-tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>ruwad-tracking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049329557684:ios:e4a4e58b58ba48aea0f7e1</string>
</dict>
</plist>